deepspeed==0.16.4
openai-whisper
#==20231117
tensorboardX==2.6.2.2
#torch
#>=2.2.2
#peft>=0.12.0
#torchaudio
#>=2.2.2
transformers==4.49.0
accelerate>=1.4.0
#trl>=0.16
#git+https://github.com/wenet-e2e/wenet.git
jieba
editdistance